.patient-history-main-container {
  background-color: #f6f6f6;
}

.patient-history-main-wrapper {
  padding: 1rem 3rem;
}

.patient-history-paper {
  padding: 13px;
  border-radius: 16px !important;
}
