.upload-main-container {
    background-color: #f6f6f6;
}

.upload-main-wrapper {
    padding: 1rem 3rem;
}

.upload-container {
    padding: 1.25rem;
}

.patient-name {
    color: #01bce9;
}

.file-input div input {
    opacity: 0;
}

.file-select {
    z-index: 2;
    width: 89%;
    height: 44px;
    background-color: #f6f6f6;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.upload-btn {
    color: white !important;
}

.icon-btn {
    width: 1rem !important;
    height: 2rem !important;
}

tr th:last-child {
    text-align: center;
}

tr td:last-child {
    text-align: center;
}