.main-scheduling-container {
  background-color: #f6f6f6;
  padding: 1rem;
}

.fc .fc-button-primary {
  color: #01bce9 !important;
  background-color: #ffffff !important;
  border: 1px solid #01bce9 !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #01bce9 !important;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
}

.indicators {
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.pending {
  background-color: lightpink;
  border: 1px solid pink;
}

.approved {
  border: 1px solid green;
  background-color: lightgreen;
}
