.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background: #fffef0;
  border-radius: 10px;
  box-shadow: 24;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #01bce9;
  color: white;
  padding: 0.5rem;
}

.text-dot {
  position: relative;
  padding-left: 1.5rem;
}

.text-dot::before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  left: 0;
  top: 0.313rem;
  border-radius: 50%;
}

.text-dot-patient::before {
  background-color: green;
}

.text-dot-family\/friend::before {
  background-color: #d6a242;
}

.text-dot-business::before {
  background-color: rgba(168, 124, 131, 0.938);
}

.text-dot-concierge::before {
  background-color: blue;
}

.text-dot-vip::before {
  background-color: purple;
}
