.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
}

.dark-btn {
  max-width: 2.3rem !important;
  height: 2.3rem !important;
}

.toggle-btn {
  display: none !important;
}

.header-logo-image {
  height: 4.625rem;
}

.header-user-detail {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
  list-style: none;
  padding: 1.25rem;
}

.header-nav-links li {
  font-size: larger;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  border-bottom: 3px solid #01bce9;
  color: #01bce9;
}

.sidebar {
  min-width: 238px;
  transition: all 0.5s ease;
  position: relative !important;
  margin-top: 7rem !important;
}

.sideLinks {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 30px;
}

.sideLinks:hover,
.sideLinks:focus,
.sideLinks:active {
  color: #ffffff;
}

.sidebar .active {
  color: #ffffff;
  border-bottom: none;
}

li {
  list-style: none;
}

/* Media query */

@media (max-width: 900px) {
  .toggle-btn {
    display: block !important;
  }

  .dark-btn {
    display: none !important;
  }

  .log-out-btn {
    display: none !important;
  }

  .header-nav-links {
    display: none !important;
  }
  .user-name {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .header-user-detail p {
    display: none !important;
  }
}
