.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    padding: 1.25rem;
}

.dark-btn {
    max-width: 2.3rem !important;
    height: 2.3rem !important;
}

.toggle-btn {
    display: none !important;
}

.header-logo-image img {
    height: 4.625rem;
}

.header-user-detail {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    list-style: none;
    padding: 1.25rem;
}

.header-nav-links li {
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

a.active {
    border-bottom: 3px solid aqua;
    color: aqua;
}

.sidebar {
    min-width: 238px;
    transition: all 0.5s ease;
}

.sidelinks {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 30px;
}

.sidelinks:hover,
.sidelinks:focus,
.sidelinks:active {
    background-color: #3eae86;
    color: #ffffff;
}

.sidebar .active {
    background-color: #4cc59a;
    color: #ffffff;
    border-bottom: none;
}


/* Media query */

@media (max-width: 900px) {
    .toggle-btn {
        display: block !important;
    }

    .dark-btn {
        display: none !important;
    }

    .log-out-btn {
        display: none !important;
    }

    .header-nav-links {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .header-logo-image {
        display: none !important;
    }

    .header-user-detail p {
        display: none !important;
    }
}