.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    padding-right: 2rem;
    color: #ffffffcb;
    background-color: #252424;
    height: 2.75rem;
    font-size: small;
    font-weight: lighter;
    position: relative;
}

.footer-container>span:first-child::after {
    position: absolute;
    content: "";
    top: 0.75rem;
    right: 7.5rem;
    height: 1.25rem;
    border-right: 1px solid;
  }