.submit-request-btn {
  max-width: 100% !important;
  min-width: 15rem !important;
  height: 3rem;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  font-size: medium !important;
  border: 1.5px solid !important;
}

@media (max-width: 600px) {
  .submit-request-btn {
    height: 3.3rem !important;
    justify-content: center !important;
    border-radius: 1px !important;
  }
}
