.closecase-main-container {
    background-color: #f6f6f6;
}

.closecase-main-wrapper {
    padding: 1rem 3rem;
}

.closecase-container {
    padding: 1.25rem;
}

.patient-name {
    color: #01bce9;
}

.edit-btn {
    color: #ffffff !important;
}