.closeCase-main-container {
    background-color: #f6f6f6;
}

.closeCase-main-wrapper {
    padding: 1rem 3rem;
}

.closeCase-container {
    padding: 1.25rem;
}

.patient-name {
    color: #01bce9;
}